<form method="post" action="{{ path('app_eleve_delete', {'id': eleve.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet éléve?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ eleve.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
