<form method="post" action="{{ path('app_seances_delete', {'id': seance.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet séances?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seance.id) }}">
    <button class="btn btn-warning mt-2">Supprimer</button>
</form>
